# configuration file format.
driver: remote
set-speed: 3000
xml-result: @{e2e.results.dir}@
remote-platform: Windows 10
remote-url: http://@{sauceUserPlaceholder}@:@{sauceKeyPlaceholder}@@ondemand.saucelabs.com/wd/hub/
baseurl: @{e2e.tomcat.base.url}@
